<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/basic/header', { title: 'Data Anak' }) %>
  <body>
    <%- include('../partials/basic/navbar') %>
    <div></div>
    <%- include('../partials/child-data.ejs') %>
    <div></div>
    <%- include('../partials/basic/footer') %>
  </body>
</html>
