<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard Tutor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="fonts/fontawesome-all.min.css" />
    <link rel="stylesheet" href="fonts/font-awesome.min.css" />
    <link rel="stylesheet" href="fonts/fontawesome5-overrides.min.css" />
    <link rel="stylesheet" href="/bootstrap/css/style.css" />
    <link rel="stylesheet" href="/bootstrap/css/dashboardTutor.css" />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light border-bottom border-secondary">
      <div class="container align-items-center">
        <a class="navbar-brand" href="/tutor-dashboard"><img src="/img/homepage/Logo.svg" alt="" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ps-3" id="navbarNavAltMarkup">
          <div class="navbar-nav ms-auto align-items-center">
            <a class="nav-link active" aria-current="page" href="/tutor-dashboard" style="color: #7749f8">Dashboard</a>
            <a class="nav-link" href="/tutor-dashboard/penawaran" style="color: #7749f8">Penawaran</a>
            <a class="nav-link" href="/tutor-dashboard/profile" style="color: #7749f8">Profile</a>
            <a class="nav-link ps-2" href="#" id="profil"><img src="/img/tutor/Nama=Nita.png" alt="" id="profil" width="24px" class="rounded-circle" /></a>
          </div>
        </div>
      </div>
    </nav>
    <!-- Akhir Navbar -->

    <div class="container mt-4">
      <h2>Dashboard</h2>
      <form class="row row justify-content-around">
        <div class="form-group has-search col-9">
          <!-- <label for="inputPassword2" class="visually-hidden">Password</label> -->
          <span class="fa fa-search form-control-feedback"></span>
          <input type="text" class="form-control" id="inputSearch" placeholder="masukan tanggal, mata pelajaran" />
        </div>
        <div class="col-3">
          <button type="button" class="btn btn-primary mb-3 w-100">Cari</button>
        </div>
      </form>
    </div>

    <div class="container dashboard-container">
      <table class="table">
        <tbody>
          <tr class="table-default text-white">
            <td>Nama Murid</td>
            <td>Usia</td>
            <td>Kelas</td>
            <td>Deskripsi</td>
          </tr>
          <% for (let i = 0; i < data.length; i++) { %>
          <tr>
            <td><a href="student/<%= data[i].id %>"><%= data[i].child.name %></a></td>
            <td><%= data[i].child.age %></td>
            <td><%= data[i].child.kelas %></td>
            <td><%= data[i].child.deskripsi %></td>
          </tr>

          <tr>
            <% } %>

            <small style="color: #2e2e2e">
              <!-- <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td> -->
            </small>
          </tr>

          <tr>
            <!-- <td>3</td>
            <td>4</td>
            <td>4</td>
            <td>4</td> -->
          </tr>
        </tbody>
      </table>
    </div>

    <!--footer-->
    <div class="container-fluid">
      <!--about-->
      <div class="row text-light p-5" style="background-color: #42288b">
        <!--Tentang Kami-->
        <div class="col-lg-6 pb-3">
          <h5><strong>Tentang Kami</strong></h5>
          <p>Kami adalah perusahaan yang bergerakdi bidang pendidikan, dengan mengutamakan pemerataan pendidikan di masa pandemi melalui pendampingan anak sekolah dengan tutor yang sesuai.</p>
          <div class="row">
            <div class="col d-flex align-items-center">
              <a href="#" class="pe-3"><img src="/img/homepage/Facebook.svg" alt="" width="40px" /></a>

              <a href="#" class="pe-3"><img src="/img/homepage/Instagram.svg" alt="" width="40px" /></a>

              <a href="#" class="pe-3"><img src="/img/homepage/Twitter.svg" alt="" width="40px" /></a>

              <a href="#"><img src="/img/homepage/Whatsapp.svg" alt="" width="40px" /></a>
            </div>
          </div>
        </div>
        <!--Kontak-->
        <div class="col-lg-6">
          <div class="rows">
            <h5><strong>Kontak</strong></h5>
            <ul class="list-group" style="list-style-type: none">
              <li><img src="/img/homepage/Location.svg" alt="" />Jl. Dulu aja yuk No. 26 Surabaya, Indonesia</li>
              <li><img src="/img/homepage/Mail.svg" alt="" />username@domain.com</li>
              <li><img src="/img/homepage/Phone.svg" alt="" />(+62) 812 3456 7890</li>
            </ul>
          </div>
        </div>
      </div>
      <!--copyright-->
      <div class="row text-light py-3" style="background-color: #311d68; font-size: 14px">
        <div class="col-lg-12 text-center">Copyright (c) SYNRGY Academy 2021</div>
      </div>
    </div>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/chart.min.js"></script>
    <script src="js/bs-init.js"></script>
    <script src="js/theme.js"></script>
  </body>
</html>
