<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detail Murid</title>
  </head>
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous"
  />
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
  ></script>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="fonts/fontawesome-all.min.css" />
  <link rel="stylesheet" href="fonts/font-awesome.min.css" />
  <link rel="stylesheet" href="fonts/fontawesome5-overrides.min.css" />
  <link rel="stylesheet" href="/bootstrap/css/style.css" />
  <link rel="stylesheet" href="/bootstrap/css/dashboardTutor.css" />
  <body>
    <!-- Navbar -->
    <nav
      class="
        navbar navbar-expand-lg navbar-light
        border-bottom border-secondary
      "
    >
      <div class="container align-items-center">
        <a class="navbar-brand" href="#"
          ><img src="/img/homepage/Logo.svg" alt=""
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ps-3" id="navbarNavAltMarkup">
          <div class="navbar-nav ms-auto align-items-center">
            <a
              class="nav-link active"
              aria-current="page"
              href="#"
              style="color: #7749f8"
              >Dashboard</a
            >
            <a class="nav-link" href="#" style="color: #7749f8">Penawaran</a>
            <a class="nav-link" href="#" style="color: #7749f8">Profile</a>
            <a class="nav-link ps-2" href="#" id="profil"
              ><img
                src="/img/homepage/Lingkaran.png"
                alt=""
                id="profil"
                width="24px"
                class="rounded-circle"
            /></a>
          </div>
        </div>
      </div>
    </nav>
    <div class="container vh-75">
        <button class="btn btn-primary mb-3">Tambah Laporan</button>
  
        <table class="table border">
          <tbody>
            <tr class="table-default text-white">
              <td>Nama Murid</td>
              <td>Usia</td>
              <td>Kelas</td>
              <td>Deskripsi</td>
            </tr>
            <% for (let i = 0; i < data.length; i++) { %>
            <tr>
              <small style="color: #2e2e2e">
                <td><%= data[i].description %></td>
                <td><%= data[i].name %></td>
                <td><%= data[i].description %></td>
                <td><%= data[i].description %></td>
              </small>
            </tr>
            <% } %>
            
            <tr>
              <td></td>
              <td>4</td>
              <td>4</td>
              <td>4</td>
            </tr>
     
          </tbody>
        </table>
      </div>
</body>
</html>