<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tambah Laporan</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="fonts/fontawesome-all.min.css" />
    <link rel="stylesheet" href="fonts/font-awesome.min.css" />
    <link rel="stylesheet" href="fonts/fontawesome5-overrides.min.css" />
    <link rel="stylesheet" href="/bootstrap/css/style.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light border-bottom border-secondary">
      <div class="container align-items-center">
        <a class="navbar-brand" href="#"><img src="/img/homepage/Logo.svg" alt="" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ps-3" id="navbarNavAltMarkup">
          <div class="navbar-nav ms-auto align-items-center">
            <a class="nav-link active" aria-current="page" href="#" style="color: #7749f8">Dashboard</a>
            <a class="nav-link" href="#" style="color: #7749f8">Penawaran</a>
            <a class="nav-link" href="#" style="color: #7749f8">Profile</a>
            <a class="nav-link ps-2" href="#" id="profil"><img src="/img/homepage/Lingkaran.png" alt="" id="profil" width="24px" class="rounded-circle" /></a>
          </div>
        </div>
      </div>
    </nav>

    <div class="container">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-start mt-4 mb-2">
          <li class="page-item">
            <a class="page-link border-0 text-secondary" href="#" tabindex="-1"> <img src="/img/tambahLaporan/Name=Back.svg" alt="" />Kembali</a>
          </li>
        </ul>
      </nav>
      <h2 class="mb-3">Tambah Laporan</h2>
      <!-- <div class="mb-3 h2">Tambah Laporan</div> -->
      <form action="/addlaporan" method="POST">
        <div class="col-lg-12">
          <!--Per kolom-->
          <input hidden name="student" value="5" />
          <div class="box border border-secondary p-5" style="border-radius: 7px">
            <!--Input Tanggal :-->
            <div class="row">
              <div class="col-lg-2">
                <label for="tanggalLahir" class="col-form-label h4">Tanggal</label>
              </div>
              <div class="col-lg-4">
                <input type="date" id="tanggalLahir" class="form-control text-secondary" , name="createdAt" />
              </div>
            </div>
            <!--Pilih Mapel :-->
            <div class="row pt-3">
              <div class="col-lg-2">
                <label for="mataPelajaran" class="col-form-label h4">Mata Pelajaran</label>
              </div>
              <div class="dropdown col-lg-4">
                <select class="form-select w-100 text-secondary" id="inputGroupSelect04" aria-label="Example select with button addon" name="serviceId">
                  <option selected>Mata Pelajaran</option>
                  <option value="1">Matematika</option>
                  <option value="2">Bahasa Inggris</option>
                  <option value="3">IPA</option>
                </select>
              </div>
            </div>
            <!--Input Deskripsi :-->
            <div class="row pt-3">
              <div class="col-lg-2">
                <label for="inputDesc" class="col-form-label h4">Deskripsi</label>
              </div>
              <div class="col-lg-8">
                <textarea type="text" id="deskripsi" rows="4" cols="10" name="description" class="form-control md-textarea" placeholder="Apa saja yang diberikan oleh sekolah hari ini?"></textarea>
              </div>
            </div>
            <!--Input Nilai :-->
            <div class="row pt-3">
              <div class="col-lg-2">
                <label for="inputNilai" class="col-form-label h4"> Nilai</label>
              </div>
              <div class="col-lg-4">
                <input type="text" id="inputNilai" class="form-control" placeholder="Masukan nama tugas" name="achievement" />
              </div>
            </div>

            <!--Input Perilaku :-->
            <div class="row pt-3">
              <div class="col-lg-2">
                <label for="inputPerilaku" class="col-form-label h4">Perilaku</label>
              </div>
              <div class="col-lg-8">
                <textarea type="text" id="perilaku" rows="4" cols="10" class="form-control md-textarea" placeholder="Apa saja yang dibutuhkan anak?" name="behavior"></textarea>
              </div>
            </div>
          </div>
          <div class="col-lg-12"></div>
          <div class="form-group m-3 text-end">
            <button type="submit" class="btn btn-primary" style="background-color: #784cd0; border: none; width: 250px">Simpan</button>
          </div>
        </div>
      </form>
    </div>
    <!--footer-->
    <div class="container-fluid">
      <!--about-->
      <div class="row text-light p-5" style="background-color: #42288b">
        <!--Tentang Kami-->
        <div class="col-lg-6 pb-3">
          <h5><strong>Tentang Kami</strong></h5>
          <p>Kami adalah perusahaan yang bergerakdi bidang pendidikan, dengan mengutamakan pemerataan pendidikan di masa pandemi melalui pendampingan anak sekolah dengan tutor yang sesuai.</p>
          <div class="row">
            <div class="col d-flex align-items-center">
              <a href="#" class="pe-3"><img src="/img/homepage/Facebook.svg" alt="" width="40px" /></a>

              <a href="#" class="pe-3"><img src="/img/homepage/Instagram.svg" alt="" width="40px" /></a>

              <a href="#" class="pe-3"><img src="/img/homepage/Twitter.svg" alt="" width="40px" /></a>

              <a href="#"><img src="/img/homepage/Whatsapp.svg" alt="" width="40px" /></a>
            </div>
          </div>
        </div>
        <!--Kontak-->
        <div class="col-lg-6">
          <div class="rows">
            <h5><strong>Kontak</strong></h5>
            <ul class="list-group" style="list-style-type: none">
              <li><img src="/img/homepage/Location.svg" alt="" />Jl. Dulu aja yuk No. 26 Surabaya, Indonesia</li>
              <li><img src="/img/homepage/Mail.svg" alt="" />username@domain.com</li>
              <li><img src="/img/homepage/Phone.svg" alt="" />(+62) 812 3456 7890</li>
            </ul>
          </div>
        </div>
      </div>
      <!--copyright-->
      <div class="row text-light py-3" style="background-color: #311d68; font-size: 14px">
        <div class="col-lg-12 text-center">Copyright (c) SYNRGY Academy 2021</div>
      </div>
    </div>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/chart.min.js"></script>
    <script src="js/bs-init.js"></script>
    <script src="js/theme.js"></script>
  </body>
</html>
