.input-group {
  padding-left: 8%;
  padding-right: 9%;
}
input#search {
  background-image: url(search.png);
  background-repeat: no-repeat;
  text-indent: 20px;
}

th {
  font-weight: lighter;
}
