<div class="container">
  <h2>Detil Laporan&nbsp;</h2>
  <div class="table-responsive border rounded border-dark">
    <table class="table">
      <tbody>
        <tr>
          <td>
            <header></header>
            Tanggal - Mata Plajaran
          </td>
        </tr>
        <tr>
          <td>Deskripsi</td>
          <td class="flex-wrap"></td>
        </tr>
        <tr>
          <td>Tugas</td>
          <td class="flex-wrap"></td>
        </tr>
        <tr>
          <td>Perilaku</td>
          <td class="flex-wrap"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
